<body>
<div class="container">
  <div id="renkGecisi">

  <form>

    <b>Kazanmak İçin Haydi Kayıt Ol</b>

    <div class="field" tabindex="1">
      <label for="name">
        <i class="far fa-user"></i>Ad
      </label>
      <input name="username" type="text" placeholder="john" required>
    </div>
    <div class="field" tabindex="1">
      <label for="surname">
        <i class="far fa-user"></i>Soyad
      </label>
      <input name="username" type="text" placeholder="doe" required>
    </div>
    <div class="field" tabindex="2">
      <label for="email">
        <i class="far fa-envelope"></i>Email
      </label>
      <input name="email" type="text" placeholder="email@domain.com" required>
    </div>
    <div class="field" tabindex="3">
      <label for="phonenumber">
        <i class="far fa-edit"></i>Telefon Numarası
      </label>
      <input name="" type="number" placeholder="000000000" required>
    </div>
    <button type="submit">Kaydol</button>

  </form>
  </div>

</div>
</body>
