<body>
<div class="container">
  <div id="renkGecisi">

    <form>

      <b>Kazanmak İçin Haydi Giriş Yap</b>
      <div class="field" tabindex="2">
        <label for="email">
          <i class="far fa-envelope"></i>Email
        </label>
        <input name="email" type="text" placeholder="email@domain.com" required>
      </div>

      <div class="field" tabindex="2">
        <label for="sifre">
          <i class="far fa-envelope"></i>Şifre
        </label>
        <input name="password" type="text" placeholder="*********" required>
      </div>
      <button type="submit" (click)="log()">Giriş</button>
      <b>Şimdi Kayıt Olabilirsin</b>
      <button type="submit" (click)="git()">Kayıt Ol</button>
    </form>
  </div>

</div>
</body>
